QWidget {
    background-color: #303030;
    color: #cccccc;
}

QPushButton {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #333333;
    min-width: 80px;
}

QPushButton:hover {
    background-color: #282828;
}

QTableWidget {
    background-color: #292929;
}

QToolButton {
    background-color: transparent;
}

QTableWidget::item:selected {
    background-color: #333333;
    outline: None;
}

QLabel {
    background-color: transparent;
}

QGroupBox {
    border: 1px solid #282828;
    font-weight: bold;
    padding-top: 15px;
}

QGroupBox[style=no_title] {
    border: 1px solid #282828;
    font-weight: bold;
    padding-top: 0px;
}

QPushButton[style=action_button] {
    color: #cccccc;
    background-color: rgba(51, 204, 255, 110);
    outline: none;
}

QPushButton[style=action_button]:hover {
    background-color: rgba(51, 204, 255, 90);
}

QPushButton[style=action_button]:pressed {
    background-color: rgba(51, 204, 255, 70);
}

QLineEdit {
    border: 1px solid #282828;
    background-color: transparent;
    padding: 5px;
}

QComboBox {
    padding: 5px;
}

QLabel[style=label_no_caches] {
    font-size: 14pt;
    color: #555555;
    background-color: #292929;
    border: 1px solid #333333;
}

QLineEdit[style=invalid_framerange] {
    border: 1px solid #993333;
}

QLineEdit[style=valid_framerange] {
    border: 1px solid #282828;
}

QLabel[style=informative_text] {
    font-size: 15pt;
    color: #999999;
}

QTabBar::tab {
    padding: 10px;
    outline: none; border: none;
    background-color: rgb(36, 36, 36);
}

QTabBar::tab:hover {
    background-color: rgb(32, 32, 32);
}

QTabBar::tab:selected {
    background-color: rgba(51, 204, 255, 110);
}
