/* Overall style */
* {
    color: rgba(255, 255, 255, .5);
    background: rgb(40, 40, 40);
    selection-color: black;
    selection-background-color: rgb(255, 66, 66);
    font-size: 10pt;
    font-family: "Courier";
    font-weight: 550;
}

/* QToolTip style */
QToolTip {
    background: rgb(153, 160, 178);
    color: rgb(55, 60, 73);
    padding: 5px;
    radius: 20px;
    opacity: 200;
}

/* QMenu style */
QMenu {
    background: rgba(65, 65, 65, .8);
    padding: 10px;
    selection-color: black;
    selection-background-color: rgb(255, 66, 66);
}

/* QTextEdit style */
QTextEdit::placeholder {
  color: #767e89;
}

/* QCheckBox style */
QCheckBox {
     spacing: 5px;
}
QCheckBox::indicator:checked {
    background: rgb(255, 66, 66);
}
QCheckBox::indicator:unchecked {
    background: rgb(30, 30, 30);
}


